.about-me {
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--line);
  padding-bottom: 5rem;

  @include max-767() {
    padding-top: 4rem;
    margin-bottom: unset;
  }

  &__group {
    @include flex(center, unset);

    @include max-767() {
      flex-direction: column;
    }
  }

  &__avatar {
    position: relative;
    width: 30rem;

    @include max-767() {
      text-align: center;
    }

    & img {
      width: 20rem;
      border-radius: 4px;
      box-shadow: var(--box-shadow-image);
    }
  }

  &__info {
    padding: 3rem;
    border-radius: 20px;
    color: var(--text-secondary);
    background-color: var(--background-secondary);
    box-shadow: var(--box-shadow-primary);
    margin-left: 3rem;

    @include max-767() {
      margin-left: unset;
      margin-top: 2rem;
      padding: 2rem;
      text-align: justify;
    }

    &-text {
      font-size: 1.6rem;

      &:first-child {
        padding-bottom: 3rem;
      }
    }
  }
}
