.home {
  @include flex(center, center);
  flex-direction: column;
  height: 100vh;
  margin-left: -3rem;
  margin-right: -3rem;
  background: var(--linear-gradient);
  position: relative;

  &__avatar {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: var(--box-shadow-avatar);
  }

  &__name {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: var(--text-primary);

    @include max-1023() {
      font-size: 2.7rem;
      padding-top: 4rem;
    }
  }

  &__subname {
    font-size: 1.8rem;
    padding-bottom: 3rem;
    color: var(--text-secondary-2);
  }

  &__link {
    margin-left: 3rem;

    &:first-child {
      margin-left: unset;
    }

    & i {
      font-size: 1.8rem;
      padding: 1rem;
      border-radius: 50%;
      width: 38px;
      height: 38px;
      text-align: center;
      background-color: #dddddd;
      transition: 0.2s;
      color: black;

      @include max-1023() {
        width: 40px;
        height: 40px;
        font-size: 2rem;
      }

      &:hover {
        box-shadow: 0px 0px 3px 1px #0000003d;

        @include max-1023() {
          box-shadow: unset;
        }
      }
    }

    &:first-child i {
      &:hover {
        background-color: #b0dfff;

        @include max-1023() {
          background-color: #dddddd;
        }
      }
    }

    &:nth-child(2) i {
      &:hover {
        background-color: #c1c1c1;

        @include max-1023() {
          background-color: #dddddd;
        }
      }
    }

    &:nth-child(3) i {
      &:hover {
        background-color: #dda6e7;

        @include max-1023() {
          background-color: #dddddd;
        }
      }
    }

    &:last-child i {
      &:hover {
        background-color: #ff82ad;

        @include max-1023() {
          background-color: #dddddd;
        }
      }
    }
  }
}
