.navbar {
  @include flex(unset, center);
  flex-direction: column;
  font-size: 1.7rem;
  font-weight: 600;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 22%;
  box-shadow: 0 5px 20px 0 #45436040;
  padding: 0 5rem;
  z-index: 1;
  background-color: var(--background-primary);

  &__item {
    margin-bottom: 3rem;
    cursor: pointer;
    transition: color 0.2s;
    color: var(--text-primary);

    &:hover {
      color: $primary-color;

      & .far {
        color: $primary-color;
      }
    }

    & .far {
      width: 3.5rem;
      color: var(--text-primary);
      transition: color 0.2s;
    }

    &.active {
      color: $primary-color;

      & .far {
        color: $primary-color;
      }
    }
  }
}
