.projects {
  margin-bottom: 5rem;

  &__list {
    @include grid(2, 1fr, 4rem);
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px 0 rgb(69 67 96 / 25%);
    border-radius: 10px;
    padding: 2rem;

    &-image {
      width: 100%;
      border-radius: 10px;
    }

    &-name {
      font-size: 1.7rem;
      font-weight: 600;
      padding: 0.5rem 0;
    }

    &-technology {
      font-size: 1.5rem;
    }
  }

  &__group {
    flex: 1;
    text-align: center;
    padding-bottom: 2rem;
  }
}

.btn {
  @include flex(center, center);
  font-size: 1.6rem;
  color: black;
  border: 1px solid #ff4c60;
  background-color: white;
  border-radius: 24px;
  width: 15rem;
  height: 3.8rem;
  margin: 0 auto;
  transition: 0.2s;

  &:hover {
    background-color: #ff4c60;
    color: white;
  }

  &__icon {
    margin-left: 1rem;
  }
}
