.projects {
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--line);
  padding-bottom: 5rem;

  @include max-1023() {
    padding-top: 4rem;
  }

  @include max-767() {
    margin-bottom: unset;
  }

  &__list {
    @include grid(2, 1fr, 4rem);

    @include min-1700() {
      @include grid(3, 1fr, 4rem);
    }

    @include max-767() {
      @include grid(1, 1fr, 4rem);
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-shadow: var(--box-shadow-primary);
    background-color: var(--background-secondary);
    color: var(--text-primary);
    border-radius: 10px;
    padding: 2rem;

    &-image {
      width: 100%;
      border-radius: 10px;

      @include max-1023() {
        height: 16rem;
      }
    }

    &-name {
      font-size: 1.7rem;
      font-weight: 600;
      padding: 1rem 0 0.5rem;
    }

    &-technology {
      font-size: 1.5rem;
      color: var(--text-secondary);
    }
  }

  &__group {
    flex: 1;
    text-align: center;
    padding-bottom: 2rem;
  }
}
