@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.main {
  position: absolute;
  width: 78%;
  top: 0;
  right: 0;
  padding: 0 3rem 3rem;
  background-color: var(--background-primary);
  overflow: hidden;

  @include min-1700() {
    width: 80%;
  }

  @include max-1023() {
    width: 100%;
    padding: 0 2.5rem 3rem;
  }

  @include max-767() {
    padding: 0 1.5rem 3rem;
  }
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

input {
  outline: none;
}
