@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin grid($colums, $width, $gap) {
  display: grid;
  grid-template-columns: repeat($colums, $width);
  grid-gap: $gap;
}
