@mixin flex($align-item, $justify-content) {
  display: flex;
  align-items: $align-item;
  justify-content: $justify-content;
}

@mixin grid($colums, $width, $gap) {
  display: grid;
  grid-template-columns: repeat($colums, $width);
  grid-gap: $gap;
}

@mixin max-1299() {
  @media only screen and (max-width: 1299px) {
    @content;
  }
}

@mixin from-1024-1299() {
  @media only screen and (min-width: 1024px) and (max-width: 1299px) {
    @content;
  }
}

@mixin max-1023() {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}

@mixin from-768-1023() {
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin max-767() {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
